header {
    font-size: 52px;
    background-color: #0B1C51;
}
nav ul {
    font-family: Monsterrat;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
}

@media all and(min-width: 600px){
    header{
        font-size: 48 px;
    }
    header nav ul li a: hover {
        color: #fff;
    }
}
